<template>
  <h5>Add set</h5>
  <div class="form-group">
    <input
      v-model.number="weight"
      class="form-control"
      type="number"
      name="datapoint-weight"
      id="datapoint-weight"
      ref="inputWeight"
      placeholder="Weight (in Kg)"
    />
  </div>
  <div class="form-group">
    <input
      v-model.number="reps"
      class="form-control"
      type="number"
      name="datapoint-reps"
      id="datapoint-reps"
      placeholder="Repetitions"
    />
  </div>
  <div class="form-group">
    <input
      v-model.trim="note"
      class="form-control"
      type="text"
      name="datapoint-note"
      id="datapoint-note"
      placeholder="Remarks"
    />
  </div>
  <div class="form-check float-right">
    <input
      type="checkbox"
      class="form-check-input"
      name="dateCheckbox"
      id="dateCheckbox"
      v-model="isDatePickerEnabled"
    />
    <label class="form-check-label" for="dateCheckbox">Enable datepicker</label>
  </div>
  <div class="clearfix"></div>
  <div class="form-group mt-2" v-if="isDatePickerEnabled">
    <input
      type="date"
      class="form-control"
      name="datapoint-date"
      id="datapoint-weight"
      v-model="date"
    />
  </div>
  <div class="form-group d-flex flex-row-reverse">
    <button class="btn btn-primary" @click="submit">Submit</button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { ExerciseDatapoint } from "@/models/ExerciseDatapoint";
import { storeService } from "@/services/store";

export default defineComponent({
  name: "DataPointEntry",
  props: {
    exerciseId: {
      type: Number,
      required: true,
    },
  },
  emits: ["updated"],
  data: function () {
    return {
      exercise: storeService.getExercise(this.exerciseId),
      weight: undefined as number | undefined,
      reps: undefined as number | undefined,
      note: "",
      date: "",
      isDatePickerEnabled: false,
    };
  },
  computed: {},
  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  mounted(this: any) {
    // this.setFieldsToMostRecent();
    this.$refs.inputWeight.focus();
    this.date = this.todaysDateAsYYYYMMDD();
  },
  methods: {
    submit() {
      if (!this.validate()) return;

      storeService.createDatapoint(
        new ExerciseDatapoint(
          -1,
          this.isDatePickerEnabled ? Date.parse(this.date) : Date.now(),
          this.exerciseId,
          this.weight,
          this.reps,
          this.note
        )
      );
      this.weight = undefined;
      this.reps = undefined;
      this.note = "";
      this.$emit("updated");
    },
    setFieldsToMostRecent() {
      // We want to set weight and reps to the values of the most recent datapoint, if one exists.
      const datapoints = storeService.getDataPointsForId(this.exerciseId);
      if (datapoints.length) {
        datapoints.sort((a, b) => b.date - a.date);
        this.weight = datapoints[0].weight;
        this.reps = datapoints[0].reps;
      }
    },
    validate() {
      if (
        this.weight === undefined ||
        this.weight < 0 ||
        this.reps === undefined ||
        this.reps <= 0
      ) {
        // Set some classes, will do later when introducing styling framework
        return false;
      } else {
        return true;
      }
    },
    todaysDateAsYYYYMMDD() {
      const d = new Date();
      return d.toISOString().split("T")[0];
    },
  },
});
</script>

<style lang="scss">
</style>
