<template>
  <div>
    <h3>{{exercise.name}}</h3>
    <div v-if="hasDatapoints">
      <div>PR: {{pr}} Kg</div>
      <h5>Recent sets</h5>
      <ul>
        <li v-for="dp in mostRecentDatapoints" :key="dp.id">
          <div>{{formattedDate(dp.date)}}</div>
          {{dp.weight}}Kg -- {{dp.reps}} reps -- {{dp. note}}
        </li>
      </ul>
      <h5>Recent sessions</h5>
      <ul>
        <li v-for="(sessions, key) in mostRecentSessions" :key="key">
          Date: {{key}}
          <ul>
            <li v-for="session in sessions" :key="session.id">
              <div>{{formattedDate(session.date)}} {{session.weight}}Kg -- {{session.reps}} reps -- {{session.note}}</div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div v-else>No data recorded yet!</div>
    <DataPointEntry :exerciseId="exerciseId" @updated="updateDatapoints()" />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import DataPointEntry from "@/components/DataPointEntry.vue";
import { storeService } from "@/services/store.ts";
import { InExercise } from "@/models/Exercise";
import {
  InExerciseDataPoint,
  getMostRecentSessions,
} from "@/models/ExerciseDatapoint";
import { formattedDateHelper, groupBy } from "@/helpers/Utility";

export default defineComponent({
  name: "ExerciseOverview",
  components: { DataPointEntry },
  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  data(this: any) {
    return {
      exerciseId: this.$route.params.id,
      datapoints: [] as Array<InExerciseDataPoint>,
      mostRecentDatapoints: [] as Array<InExerciseDataPoint>,
      mostRecentSessions: {} as { [key: string]: Array<InExerciseDataPoint> },
    };
  },
  created() {
    if (!storeService.getExercise(this.exerciseId))
      window.location.pathname = "/";

    this.updateDatapoints();
  },
  computed: {
    exercise(): InExercise | undefined {
      return storeService.getExercise(this.exerciseId);
    },
    hasDatapoints(): boolean {
      return this.datapoints.length > 0;
    },
    pr(): number {
      return Math.max(...this.datapoints.map((dp) => dp.weight));
    },
  },
  methods: {
    updateDatapoints() {
      this.datapoints = storeService.getDataPointsForId(this.exerciseId);
      this.mostRecentDatapoints = this.getMostRecentDatapoints();
      this.mostRecentSessions = this.getGroupedSessions();
    },
    getMostRecentDatapoints(): Array<InExerciseDataPoint> {
      const dps = storeService.getDataPointsForId(this.exerciseId);
      dps.sort(this.sortByDate);
      return dps.slice(0, 3);
    },
    getGroupedSessions(): { [key: string]: Array<InExerciseDataPoint> } {
      let dps = getMostRecentSessions(
        storeService.getDataPointsForId(this.exerciseId)
      );
      dps = dps
        // eslint-disable-next-line @typescript-eslint/no-explicit-any
        .map((dp: any) => {
          dp.formattedDate = this.formattedDate(dp.date);
          return dp;
        })
        .sort(this.sortByDate);
      return groupBy(dps, "formattedDate");
    },
    // getMostRecentSessions(): { [key: string]: Array<InExerciseDataPoint> } {
    //   // First we want to group the datapoints by date (formattedDate) and
    //   let dps = storeService.getDataPointsForId(this.exerciseId);
    //   // eslint-disable-next-line @typescript-eslint/no-explicit-any
    //   dps = dps
    //     .map((dp: any) => {
    //       dp.formattedDate = this.formattedDate(dp.date);
    //       return dp;
    //     })
    //     .sort(this.sortByDate);
    //   return groupBy(dps, "formattedDate");
    // },
    formattedDate: formattedDateHelper,
    sortByDate: (a: InExerciseDataPoint, b: InExerciseDataPoint) =>
      b.date - a.date,
  },
});
</script>

<style lang="scss" scoped>
</style>