<template>
  <div>
    <div class="form-group mt-2">
      <!-- v-model.trim="searchInput" -->
      <input
        :value="searchInput"
        @input="searchInput = $event.target.value"
        class="form-control mb-3"
        id="searchInput"
        placeholder="Search exercise"
        ref="inputRef"
      />
    </div>
    <SearchResult
      v-for="searchResult in searchResults"
      :key="searchResult.exercise.id"
      :searchResult="searchResult"
    />
    <a v-if="showCreate" href="#" @click="createNew">Create new exercise: '{{searchInput}}'</a>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import SearchResult from "./SearchResult.vue";
import { ISearchResult } from "@/models/SearchResult";
import { searchService } from "../services/search";
import { debounce } from "debounce";
import { storeService } from "@/services/store";
import { Exercise } from "@/models/Exercise";

export default defineComponent({
  name: "Search",
  components: { SearchResult },
  data() {
    return {
      searchInput: "",
      searchResults: new Array<ISearchResult>(),
    };
  },
  watch: {
    searchInput(newValue) {
      this.searchExercises(newValue.trim());
    },
  },
  created() {
    this.searchExercises = debounce(this.searchExercises, 200);
  },
  mounted() {
    this.setFocusOnInput();
  },
  computed: {
    // eslint-disable-next-line @typescript-eslint/no-explicit-any
    showCreate(this: any) {
      return this.searchInput.length > 0 && this.searchResults.length == 0;
    },
  },
  methods: {
    searchExercises(searchTerm: string) {
      searchService
        .search(searchTerm)
        .then((result) => {
          console.log(result);
          this.searchResults = result;
        })
        .catch((error: unknown) => {
          console.error(error);
        });
    },
    // eslint-disable-next-line @typescript-eslint/no-explicit-any
    createNew(this: any) {
      const newExercise = storeService.createExercise(
        new Exercise(-1, this.searchInput)
      );
      if (newExercise)
        this.$router.push({ name: "Exercise", params: { id: newExercise.id } });
    },
    // eslint-disable-next-line @typescript-eslint/no-explicit-any
    setFocusOnInput(this: any) {
      this.$refs.inputRef.focus();
    },
  },
});
</script>

<style lang="scss">
</style>
