<template>
  <!-- <router-link :to="{ name: 'Exercise', params: { id: exercise.id }}" tag="div"> -->
  <div class="card bg-light mb-3" @click="handleClick">
    <div class="card-header">{{capitalizedName()}}</div>
    <div class="card-body">
      <div class="card-title">PR: {{highestWeight}} Kg</div>
      <div class="card-text">Last set: {{lastDate}}</div>
    </div>
  </div>
  <!-- </router-link> -->
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "SearchResult",
  props: {
    searchResult: {
      type: Object,
      required: true,
    },
  },
  computed: {
    // hasSearchResult(): boolean {
    //     return this.searchResult.dataPoints > 0;
    // }
    highestWeight() {
      return 80;
    },
    lastDate() {
      return Date.now();
    },
  },
  data() {
    return {
      // eslint-disable-next-line vue/no-dupe-keys
      exercise: this.searchResult.exercise,
      datapoints: this.searchResult.datapoints,
    };
  },
  methods: {
    capitalizedName() {
      return `${this.exercise.name
        .slice(0, 1)
        .toUpperCase()}${this.exercise.name.slice(1)}`;
    },
    // eslint-disable-next-line @typescript-eslint/no-explicit-any
    handleClick(this: any) {
      this.$router.push({ name: "Exercise", params: { id: this.exercise.id } });
    },
  },
});
</script>

<style lang="scss">
.card:hover {
  border: 1px solid green;
}
</style>
